# Meta files and folders
.cache/
.vscode/
.idea/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store
*.md

# Project outputs
data/
scripts/
markdowns/
outputs/
!outputs/reports/
!outputs/reports/**
src/slurm/
wandb/
